version: '2'

services:
   db:
     image: mysql:5.7
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: rootSecret
       MYSQL_DATABASE: testData
       MYSQL_USER: testUser
       MYSQL_PASSWORD: userSecret

   wordpress:
     depends_on:
       - db
     image: johanneselias/wordpress-backup
     volumes: 
       - ./backups:/backups
     ports:
       - "80:80"
     restart: always
     environment:
       WORDPRESS_SUB_DIR: sub
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_USER: testUser
       WORDPRESS_DB_NAME: testData
       WORDPRESS_DB_PASSWORD: userSecret
       WORDPRESS_BACKUP_SCHEDULE: "0 0 * * *"
       WORDPRESS_DEBUG: "no"

